
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #353432;
    color: white;
    min-width: 400px;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

header {
    /*position: absolute;*/
    width: 100%;
    min-height: 66px;
    background-color: #060606;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    position: relative;
}


header ul li {
    list-style: none;
    position: relative;
    float: left;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}

header ul li a:hover {
    background: white;
    color: black;
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background-color: #060606;
    display: none;
}

header ul li:hover ul {
    display: block;
}


header ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 120px;
    width: 100%;
    height: 162px;
    background: #6F6F6F;

}


.footer_items {
    max-width: 1142px;
    height: 162px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_items h6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}


.footer_items p {
    margin-top: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
service_wrapper {
    width: 1344px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_wrapper h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin: 50px 0;
    text-align: center;
}
.service_card_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.service_card {
    width: 306px;
    height: 630px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    border: 2px solid white;
}

.service_card:hover {
    background-color: #ADA9A7   ;
    transition-duration: 700ms;
}

.icon_wrapper {
    height: 101px;
}
.icon_wrapper img {
    width: 106px;
    height: 101px;
    text-align: center;
}
.service_line {
    width: 100%;
    height: 2px;
    background-color: white;
}

.title_wrapper {
    height: 60px;
}

.title_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title_wrapper h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}
.price h5 {
    align-items: center;
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
}
.service_card:hover .title_wrapper h5 {
    transition-duration: 700ms;
    color: #353432;
}
.service_card:hover .price h5 {
    transition-duration: 700ms;
    color: #353432;
}
.cours_list_wrapper {
    width: 80%;
    height: 340px;
    background-color: none;
    border: 2px solid white;
    margin-top: 5px;
}

.cours_list_wrapper li {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 30px;
    color: #ffffff;
}
.cours_list_wrapper ul{
    margin-left:2px ;
    list-style: none;
}
.service_card:hover .cours_list_wrapper li {
    transition-duration: 700ms;
    color: #353432;
}
.buy_course {
    width: 92%;
    height: 41px;
    background-color: #ADA9A7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.buy_course p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}

.service_card:hover .buy_course {
    transition-duration: 700ms;
    background-color: #353432;
}

footer {
    margin-top: 120px;
    width: 100%;
    height: 162px;
    background: #ADA9A7;
}

.footer_items {
    max-width: 1142px;
    height: 162px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_items h6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.footer_items p {
    margin-top: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}


@media (max-width: 805px) {
    .footer_items {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer_items {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer_item {
        margin: 25px 0;
    }

    .footer_item h6,
    .footer_item p {
        text-align: center;
    }

    footer {
        height: auto;
    }

    .cloud_item h5,
    .cloud_item h6 {
        font-size: 20px;
    }

    .cloud_item li {
        font-size: 18px;
    }

    header {
        padding: 10px 20px;
        z-index: 1;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #060606;
        display: none;
    }

    header nav ul li {
        width: 100%;

    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }

    header nav ul li ul li {

        background-color: black;
    }

    header nav ul li :hover ul li {
        background-color: white;
        color: black;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }

    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);

    }

    header.active menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;

    }

    header.active menuToggle::after {
        transform: rotate(315deg);
        box-shadow: 0 0 #fff;

    }

    header.active nav {
        display: initial;
    }
}

