
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #353432;
    color: white;
    min-width: 400px;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

header {
    /*position: absolute;*/
    width: 100%;
    min-height: 66px;
    background-color: #060606;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    position: relative;
}


header ul li {
    list-style: none;
    position: relative;
    float: left;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}

header ul li a:hover {
    background: white;
    color: black;
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background-color: #060606;
    display: none;
}

header ul li:hover ul {
    display: block;
}


header ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.about-us {
    color: white;

}

.about-us h1 {
    margin-top: 20px;
    text-align: center;
}

.about-us p {

    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;

}

.wrapper-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.card-advantages {
    width: 325px;
    margin: 20px;
}

.advantages {
    margin: 20px;

}

.card-name {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.name {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.main-text {
    font-size: 20px;
    font-weight: 300;
}

.description {
    text-align: center;
    margin-top: 20px;
}

footer {
    margin-top: 120px;
    width: 100%;
    height: 162px;
    background: #6F6F6F;

}

.contact_us {
    padding-top: 25px;
}

.footer_items {
    max-width: 1142px;
    height: 162px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_items h6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}


.footer_items p {
    margin-top: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}


.card {
    text-align: center;
    align-items: center;
    background-color: #6F6F6F;
    width: 400px;
    height: 400px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 50px;
    margin: 40px;
}

.course_name {
    margin-top: 44px;
    font-size: 24px;
}

.course-cards {
    display: flex;
    justify-content: space-between;
    max-width: 1508px;
    flex-wrap: wrap;
}

.wrapper_btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper-wrapper-course {
    display: flex;
    justify-content: center;
}

.course-btn {
    background-color: #6F6F6F;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 332px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.main-img {
    background-image: url("img/people-office1.png");
    text-align: center;
    padding-top: 408px;
    padding-bottom: 408px;
    background-size: cover;
    background-repeat:no-repeat ;
background-position:center ;
}


.main_slogan {
    font-size: 90px;
    color: white;
}

.second_slogan {
    font-size: 40px;

    color: white;   
}
.contact_us {
    padding-top: 25px;
}

.title {
    text-align: center;
    margin: 0;
    margin-top: 68px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.title_line {
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 40px;
    width: 111px;
    height: 5px;
    background-color: white;
}

.form_wrapper {
    margin: 0 auto;
    margin-top: 50px;
    width: 760px;
    max-width: 60%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    padding: 50px;
    align-items: center;
}
.form_input {
    width: calc(100% - 15px);
    height: 61px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    margin-bottom: 25px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    padding-left: 15px;
    transition-duration: 500ms;
}
.form_textarea {
    width: calc(100% - 15px);
    height: 360px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    padding-left: 15px;
    padding-top: 15px;
    transition-duration: 500ms;
}
.form_input:hover {
    color: white;
    background-color: #6F6F6F;
}
.form_textarea:hover {
    color: white;
    background-color: #6F6F6F;
}
.send {
    width: 164px;
    height: 44px;
    background: #d9d9d9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    float: right;
    transition-duration: 500ms;
}

.send p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}

.send:hover {
    background-color: #353432;
}

.send:hover p {
    color: white;
}

@media (max-width: 805px) {
    .footer_items {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer_items {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer_item {
        margin: 25px 0;
    }

    .footer_item h6,
    .footer_item p {
        text-align: center;
    }

    footer {
        height: auto;
    }

    .cloud_item h5,
    .cloud_item h6 {
        font-size: 20px;
    }

    .cloud_item li {
        font-size: 18px;
    }

    header {
        padding: 10px 20px;
        z-index: 1;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #060606;
        display: none;
    }

    header nav ul li {
        width: 100%;

    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }

    header nav ul li ul li {

        background-color: black;
    }

    header nav ul li :hover ul li {
        background-color: white;
        color: black;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }

    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);

    }

    header.active menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;

    }

    header.active menuToggle::after {
        transform: rotate(315deg);
        box-shadow: 0 0 #fff;

    }

    header.active nav {
        display: initial;
    }
}

